body {
    
    margin: 0;
    padding: 0;
    background-color: black;
   
  }
  .nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin-top: 80px;
  }
.nav-logo img {
    height: 60px;
    margin-left: 40px;
  }
  .nav-menu >a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 30px;
  }
  
  a:hover{
    color: green;
    text-decoration: underline;
  
   }
   

   
  
  
 
 

 
 

  
